<!-- templates/blog/post_detail.html -->
{% extends 'blog/base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  <h1>{{ post.title }}</h1>
  <p>{{ post.content }}</p>
  <p>Author: {{ post.author.username }}</p>
  <p>Published on: {{ post.pub_date }}</p>

  <!-- Add comments section here -->
  <h2>Comments</h2>
  {% for comment in post.comments.all %}
    <p>{{ comment.content }} - {{ comment.author.username }} ({{ comment.pub_date }})</p>
  {% endfor %}

  <!-- Add comment form here -->
  <form method="post" action="{% url 'add_comment' pk=post.pk %}">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit">Add Comment</button>
  </form>
{% endblock %}
